@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", system-ui;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.header{
    padding: 2rem 3rem 2rem 3rem;
    background: #000000;
    position: relative;
    width: 100;
    z-index: 3;
    box-shadow: #00ff1140 0px 30px 60px -12px inset, #00ff004d 0px 18px 36px -18px inset;
    .navbar{
        display: flex;
        justify-content: space-between;
        .logo{
            h1{
                color: #fff;
            }
        }

        .nav-links{
            display: flex;

            a{
                color: #3eff29;
                margin-left: 1.3rem;
                transition: .2s ease-in;
            }
            a:hover{
                color: #ffffff;
            }

        }
    }
    .fa-bars{
        display: none;
    }
}

.active{
    width: 40%;
    right: 0px;
}

.overlay{
    position: absolute;
    height: 88vh;
    width: 0%;
    background-color: #00000079;
    transition: .4s ease-in;
    z-index: 100;
    .overlay-links{
        justify-content: center;
        align-items: start;
        padding-left: 2rem;
        flex-direction: column;
        height: 15rem;
        a{
            color: #3eff29;
        }
        a:hover{
            color: #ffffff;
        }
    }
    .close{
        color: #ffffff;
        padding: .5rem;
    }
}

@media(max-width:900px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar{
            .nav-links{
                a{
                    display: none;
                }
            }
        }

        .fa-bars{
            z-index: 4;
            color: #3eff29;
            display: block;
            font-size: 1.2rem;
        }
    }
    
    
}